<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2" style="border-right: 1px solid gray; height: 1000px; background-color: gray;">
      {% block sidebar %}
      <ul class="sidebar-nav" style="margin-top:30px;">
          <li style="margin-bottom: 10px; list-style-type: none;"><a href="{% url 'index' %}" style="text-decoration: none; font-size: 14pt; color: white;">Home</a></li>
          <li style="margin-bottom: 10px; list-style-type: none;"><a href="{% url 'books' %}" style="text-decoration: none; font-size: 14pt; color: white;">All books</a></li>
          <li style="margin-bottom: 50px; list-style-type: none;"><a href="{% url 'authors' %}" style="text-decoration: none; font-size: 14pt; color: white;">All authors</a></li>
           {% if user.is_authenticated %}
          <li style="margin-bottom: 10px; list-style-type: none; font-size: 14pt; color: white;">User: {{ user.get_username }}</li>
          <li style="margin-bottom: 10px; list-style-type: none;"><a href="{% url 'my-borrowed' %}" style="text-decoration: none; font-size: 14pt; color: white;">My Borrowed</a></li>
          <li style="margin-bottom: 10px; list-style-type: none;"><a href="{% url 'logout'%}?next={{request.path}}" style="text-decoration: none; font-size: 14pt; color: white;">Logout</a></li>
           {% else %}
          <li style="margin-bottom: 10px; list-style-type: none;"><a href="{% url 'login'%}?next={{request.path}}" style="text-decoration: none; font-size: 14pt; color: white;">Login</a></li>
           {% endif %}
          {% if user.is_staff %}


          <li style="margin-bottom: 10px; margin-top: 50px; list-style-type: none; text-decoration: none; font-size: 14pt; color: white;">Staff</li>
          {% if perms.catalog.can_mark_returned %}
          <li style="margin-bottom: 10px; list-style-type: none;"><a href="{% url 'all-borrowed' %}" style="text-decoration: none; font-size: 14pt; color: white;">All borrowed</a></li>
          {% endif %}

          {% endif %}
      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 " style="padding-left: 60px;padding-top: 20px;">
      {% block content %}{% endblock %}
          {% block pagination %}
            {% if is_paginated %}
              <div class="pagination">
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}
                      <span class="page-current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                      {% endif %}
                  </span>
              </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>

  </div>
</body>
</html>